/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0; /* Remove default body margin */
    text-align: center;
    /*border: 3px solid green;*/ /*keep commented unless you want a green border witch makes it look like ur site is boken*/
    justify-content: center;
    height: 100vh; /* Make the body take the full height of the viewport */
}

/* Style for the image */
img {
    max-width: 100%; /* Make sure the image doesn't exceed its container width */
    margin-top: 20px; /* Add some space above the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}