/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0; /* Remove default body margin */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make the body take the full height of the viewport */
}

.container {
    text-align: center;
}

.title {
    color: #ff4500;
    font-size: 2em;
}

/* Style for the image */
img {
    max-width: 100%; /* Make sure the image doesn't exceed its container width */
    height: auto; /* Maintain the aspect ratio of the image */
    margin-top: 20px; /* Add some space above the image */
}